.main {
max-width: 1000px;
margin: auto;
text-align: center;
align-items: center;
background: white;
height: auto;
}
.header {
text-align: center;
background: white;
min-height: 100px;
}
body {
background: white;
color: black;
}
footer {
min-height: 100px;
padding: 20px;
color: black;
background: white;
text-align: center;
}
.navbar {
background: white;
clear: both;
text-align: center;
min-height: 30px;
color: black;
}
nav li {
display: inline;
}
a {
color: blue;
text-decoration: none;
}
h3 {
margin: 0px 0px 10px 0px;
color: blue;
}
.content {
min-height: 350px;
margin: 3%;
text-align: left;
align-items: left;
background: white;
}
body {
font-family: monospace;
}
nav li a {
color: black;
font-weight: bold;
}
nav li a:hover, nav li a.current {
color: gray;
font-weight: bold;
}

